<div *ngIf="size === 'default'" class="loading-spinner__container viewport-center">
  <div class="center-center">
    <div class="loading-spinner"></div>
  </div>
</div>

<div *ngIf="size === 'medium'" class="loading-spinner__container viewport-center">
  <div class="center-center">
    <div class="loading-spinner loading-spinner--medium"></div>
  </div>
</div>

<div *ngIf="size === 'large'" class="loading-spinner__container viewport-center">
  <div class="center-center">
    <div class="loading-spinner loading-spinner--large"></div>
  </div>
</div>
