:root {
  // Container Settings
  --container-width--sm: 640px;
  --container-width--md: 768px;
  --container-width--lg: 1024px;
  --container-width--xl: 1440px;
  --container-width--xxl: 1600px;

  // Border Settings
  --border-radius: 15px;
}
